<div class="">
  <label for="Profile_Name"><strong>Profile Name</strong></label>
  <input type="text" class="form-control" name="" value="deeksonparlma" disabled>
</div><br>
<div class="row">
  <div class="col-md-4">
    <label for=""><strong>Repositories</strong></label><br>
    <p>56</p>
  </div>
  <div class="col-md-4">
    <label for=""><strong>Followers</strong></label><br>
    <p>9</p>
  </div>
  <div class="col-md-4">
    <label for=""><strong>Following</strong></label><br>
    <p>0</p>
  </div>
</div><br><br>
<div class="row">
  <div class="col-md-12">
    <a href="http://github.com/deeksonparlma"><button type="button" class="btn btn-info" name="button">Link to profile on Github</button></a>
  </div>
</div>
